{% extends '::base.html.twig' %}
{% block body %}
<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href='{{ path("printBill", {"id": bill.getId()})}}' ><i class='icon-download-2'></i></a>
	    <a href="{{path('TTOMMarchand')}}" ><i class='icon-arrow-left'></i></a>
	</div>
</div>
<section id="main-frame" class='tiles clearfix'>
	{% include 'ExtranetTTOMBackOfficeMarchandBundle:Default:printBill.html.twig' %}
</section>
{% endblock %}