{% extends '::base.html.twig' %}
{% block body %}
<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	{% if admin %}
	<div class="toolbar-group">
	    <a href="javascript: void(0);" id='display-add' ><i class='icon-plus'></i></a>
	</div>
	{% endif %}
</div>
{% if admin %}
<div class='bg-forms'>
	 <div style='padding: 5px; margin: 10px; float: left; text-align: left;'>
        <h2>{{ "Create a shop" | trans }}</h2>
        <form name="shops" method="POST" action="{{ path('addShop') }}" enctype="multipart/form-data">
            <div class="input-control text">
                <input type="text" name="name" value="" placeholder='{{ "Name" | trans }}' class="with-helper" required />
            </div>
            <fieldset>
	       		<legend>{{ "Thumbnail" | trans }}</legend>
	        	<input type='file' name='image' placeholder='{{ "Thumbnail" | trans }}' />
            </fieldset>
            <br />
            <input type='submit' value='{{ "Send" | trans }}' />
        </form>
    </div>
</div>
{% endif %}
<section id="main-frame" class='tiles clearfix'>
	<div style='border-bottom: 1px dashed #ccc; margin-bottom: 10px;'>
		<h3><i class='icon-star'></i>Shops</h3>
	</div>
	{% if shops|length %}
		{% for shop in shops %}
			<a href='{{path("showShop", {"id": shop.getId()})}}' style='float: left;'>
				<img src='{{path("displayImage", {"id": shop.getImage().getId()})}}' style='width: 200px' />
			</a>
		{% endfor %}
	{% else %}
		<small style='margin-left: 10px;'>{{ "No shops found..." | trans }}</small>
	{% endif %}
	<div style='clear: both'></div>
	<div style='border-bottom: 1px dashed #ccc; margin-bottom: 10px;'>
		<h3>Bills</h3>
	</div>
	{% if bills|length %}
		{% for bill in bills %}
				<div class="tile double bg-color-grey">
                    <div class="tile-content">
                        <i class='icon-file-pdf' style='font-size: 80px; float: left; margin-top: 10px;'></i>
                        <div style='float: left; width: 180px;'>
	                        <h3>{{bill.getClient().firstName}} {{bill.getClient().middleName}} {{bill.getClient().lastName}}</h3>
	                        <h5>{{ bill.getBillNumber() }}</h5>
					        <div class="notice-text">{{ bill.getDate('string') }}</div>
					        <small><b>{{ bill.getStartPoint() }}</b> vers <b>{{ bill.getEndPoint() }}</b></small>
                    	</div>
                    	<div style='clear: both; height: 20px;'></div>
                    	<a href='{{ path("displayBill", {"id": bill.getId()})}}'>
                    		<button class="mini bg-color-blueLight" style='float: left;'>
				        		<div style='float: left;' class='fg-color-blueDark'>Visionner</div><i class='icon-eye fg-color-white bg-color-blue' style='float: right; font-size: 20px; margin-top: -5px; margin-right: -10px; margin-left: 10px;'></i>
					    	</button>
						</a>
						<a href='{{ path("printBill", {"id": bill.getId()})}}'>
						    <button class="mini bg-color-darken" style='float: right;' href='{{ path("printBill", {"id": bill.getId()})}}'>
					        	<div style='float: left;'>T&eacute;l&eacute;charger</div><i class='icon-download-2 fg-color-white bg-color-green' style='float: right; font-size: 20px; margin-top: -5px; margin-right: -10px; margin-left: 10px;'></i>
						    </button>
						</a>
                    </div>
                </div>
	        	<!--<a class='brand' href='{{ path("printBill", {"id": bill.getId()})}}'> -->
		{% endfor %}
	{% endif %}
</section>

<script src="{{ asset('../src/Extranet/TTOMBackOfficeMarchandBundle/Resources/public/js/TTOMBOMarchand-index.js') }}" type="text/javascript"></script>
<!-- {% javascripts '@ExtranetTTOMBackOfficeMarchandBundle/Resources/public/js/TTOMBOMarchand-index.js' %}
<link href="{{ asset_url }}"></link>
{% endjavascripts %} -->

{% endblock %}
