<html>
	<head></head>
	<body>
		<style>
			body{
				font-family: Arial;
				font-size: 14px;
				color: #000;
			}

			h2{margin: 3px;}
			p{margin: 3px; margin-left: 10px;}
			td{width: 133px; margin: 0px; padding: 0px;}
			tr{margin: 0; padding: 0;}
			table{margin: 0; padding: 0;}
			div{border-radius:10px;}
		</style>
		<div style='float: left; width: 350px;'>
			<div style='border: 1px solid #0066CC; padding: 10px; margin: 4px;'>
				<h2>Expediteur</h2>
					<p>{{ bill.getShop().getName() }}</p>
				<h2>Destinataire</h2>
				<p>
					{{bill.getClient().firstName}} {{bill.getClient().middleName}} {{bill.getClient().lastName}}
					<br />
					{{bill.getClient().address}}
					<br />
					{{bill.getClient().country}}
				</p>
			</div>
		</div>
		<div style='float: left; margin-left: 30px;'>
			<img src='http://www.ttom.fr/images/logo.jpg' style='width: 300px;' />
		</div>
		<div style='clear: both; height: 30px;'></div>
		<div style='border: 1px solid #0066CC;width: 800px; padding: 10px; margin: 4px;'>
			<h2>Date</h2>
			<p>{{ bill.getDate('string') }}</p>
			<h2>R&eacute;f&eacute;rence(s)</h2>
			<p>
				{% for ref in bill.getReferences() %}
					{{ ref }}&nbsp;
				{% endfor %}
			</p>
		</div>
		<div style='border: 1px solid #0066CC;width: 800px; padding: 10px; margin: 4px;'>
			<h2>D&eacute;part de</h2>
			<p>{{ bill.getStartPoint() }}</p>
			<h2>Arriv&eacute;e &agrave;</h2>
			<p>{{ bill.getEndPoint() }}</p>
		</div>
		<div style='border: 1px solid #0066CC;width: 800px; padding: 10px; margin: 4px;'>
			<table>
				<tr>
					<td style='border-bottom: 1px dashed #000; text-align: center;'><b>Nombre de colis</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center;'><b>Designation</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center;'><b>Poid brut</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center;'><b>Volume</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center;'><b>Valeur</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center;'><b>Conteneur</b></td>
				</tr>
				{% for item in bill.getPackage() %}
				<tr>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{item.count}}</td>
					<td style='border-right:1px solid #ccc; text-align: center;'>{{item.designation}}</td>
					<td style='border-right:1px solid #ccc; text-align: center;'>{{item.weight}}</td>
					<td style='border-right:1px solid #ccc; text-align: center;'>{{item.size}}</td>
					<td style='border-right:1px solid #ccc; text-align: center;'>{{item.price}}</td>
					<td style='text-align: center;'>{{item.container}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div style='border: 1px solid #0066CC; width: 800px; padding: 10px; margin: 4px;'>
			<table>
				<tr>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 600px'><b>Libell&eacute;</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 200px;'><b>Prix HT.</b></td>
				</tr>
				{% for item in bill.getBilling() %}
				<tr>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ item.designation }}</td>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ item.price }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div style='border: 1px solid #c0c0c0; width: 800px; padding: 10px; margin: 4px; color: #000'>
			En application de la loi 2006-10 du 5/01/2006 nos conditions de r&egrave;glement sont &agrave; 30 jours maximum
			date de facture. Toute somme impay&eacute;e à l'éch&eacute;ance porte de plein droit intér&ecirc;ts au taux annuel &eacute;gal
			au taux de refinancement fix&eacute; par la BCE applicable &agrave; la date d'&eacute;ch&eacute;ance, major&eacute; de 10 points, et,
			commen&cced;ant &agrave; courir d&egrave;s le lendemain de l'éch&eacute;ance port&eacute;e sur la facture, ceci sans mise en demeure.
		</div>
		<div style='border: 1px solid #0066CC; width: 800px; padding: 10px; margin: 4px;'>
			<table>
				<tr>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 600px'><b>Libell&eacute;</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 200px;'><b>Prix HT.</b></td>
				</tr>
				{% for item in bill.getBilling() %}
				<tr>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ item.designation }}</td>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ item.price }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div style='border: 1px solid #0066CC; width: 800px; padding: 10px; margin: 4px; font-size: 16px;'>
			<b>Type de r&egrave;glement:</b> {{ bill.getPaymentMode() }}<br />
			<b>Date</b> {{ bill.getPaymentDate('string') }}
		</div>
		<div style='border: 1px solid #0066CC; width: 800px; padding: 10px; margin: 4px;'>
			<table>
				<tr>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 600px'><b>Prix HT</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 200px;'><b>TVA</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 200px;'><b>Montant TVA</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 200px;'><b>Total TTC</b></td>
					<td style='border-bottom: 1px dashed #000; text-align: center; width: 200px;'><b>Net &agrave payer</b></td>
				</tr>
				<tr>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ totalBill.totalHT }}</td>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ bill.getTVA() }}%</td>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ totalBill.tvaToPay }}</td>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ totalBill.totalTTC }}</td>
					<td style='border-right: 1px solid #ccc; text-align: center;'>{{ totalBill.totalTTC }}</td>
				</tr>
			</table>
		</div>
		<div style='border: 1px solid #c0c0c0; width: 800px; padding: 10px; margin: 4px; color: #000'>
			Commissionnaire agr&eacute;&eacute; en douane b&eacute;n&eacute;ficiant des dispositions d'am&eacute;nagement et/ou de reports concernant le paiement
			des droits et taxes exigibles à l'importation.
		</div>
	</body>
</html>