{% extends '::base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/code-mirror.css') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('js/code-mirror.js') }}"></script>
<link rel="stylesheet" href="{{ asset('css/monokai.css') }}" type="text/css" media="screen" />
<script type="text/javascript" src="{{ asset('js/code-mirror2.js') }}"></script>
<style type="text/css">
	.CodeMirror {border: 1px solid black; font-size:13px}
</style>
<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="javascript: void(0);" id='display-add' ><i class='icon-plus'></i></a>
	</div>
</div>
<div class='bg-forms'>
		<div style='padding: 5px; margin: 10px; float: left; text-align: left;'>
			<h2>{{ "Create a user" | trans }}</h2>
			<form name="user" method="POST" action="{{ path('addUser') }}">
				<div class="input-control text">
			        <input type="text" name="email" value="" placeholder='{{ "Email" | trans }}' class="with-helper" required />
			        <button class="helper" onclick='return false'></button>
			    </div>
		     	<div class="input-control password">
			        <input type="password" name="password" placeholder='{{ "Password" | trans }}' value="" class="with-helper" required />
			        <button class="helper"></button>
			    </div>
			     <div class="input-control password">
			        <input type="password" type="password" placeholder='{{ "Password verif." | trans }}' value="" class="with-helper" required />
			        <button class="helper" onclick='return false'></button>
			    </div>
			    <div class="input-control select">
			        <select name="role">
			            <option value="ROLE_USER" selected>{{ "User" | trans }}</option>
						<option value="ROLE_ADMIN">{{ "Admin" | trans }}</option>
						{% if admin %}
							<option value="ROLE_SUPER_ADMIN">{{ "Super admin" | trans }}</option>
						{% endif %}
			        </select>
			    </div>
				<div class="input-control select">
			        <select name="plugins[]" multiple required>
			            {% for plugin in plugins %}
							<option value="{{plugin.id}}">{{plugin.name}}</option>
						{% endfor %}
			        </select>
			    </div>
				<input type="submit" value='{{ "Send" | trans }}' />
			</form>
		</div>
	{% if admin %}
		<div style='float: left; padding: 5px; margin: 10px; float: left; width: 400px;'>
			<h2>{{ "Create a plugin" | trans }}</h2>
			<form name="plugin" method="POST" action="{{ path('addPlugin') }}">
				<div class="input-control text">
			        <input type="text" name="name" id='name' value="" placeholder='{{ "Name" | trans }}' class="with-helper" required />
			        <button class="helper" onclick='return false'></button>
			    </div>
		     	<div class="input-control text">
			        <input type="text" name="slug" placeholder='{{ "Slug" | trans }}' value="" class="with-helper" required />
			        <button class="helper" onclick='return false'></button>
			    </div>
				<a href='http://metroui.org.ua/icons.php' target="_blank">{{ "Icon list" | trans }}</a>
			    <div class="input-control textarea">
				    <textarea id="code" name="style" style='resize: none;'></textarea>
				</div>
			     <div class="input-control textarea">
			        <textarea name='description' id='description' placeholder='{{ "Body" | trans }}' style='resize: none;'></textarea>
			    </div>
				<input type="submit" value='{{ "Send" | trans }}' />
			</form>
		</div>
		<div style='float: left; padding: 5px; margin: 10px; float: left; width: 400px;'>
			<h2>{{ "Preview" | trans }}</h2>
			<div id='display-preview' style='background: #fff;'></div>
		</div>
		<div style='clear: both;'></div>
	{% endif %}
	</div>

<section id='main-frame'>
	{% if admin %}
		<div style='border-bottom: 1px dashed #ccc;'>
			<h3><i class='icon-star'></i>Plugins</h3>
		</div>
		{% if plugins|length %}
			{% for plugin in plugins %}
				<div style='border: 1px solid #ccc; float: left; padding: 5px; margin: 10px; text-align: left;'>
					<h2></i>{{plugin.getName()}}</h2>
					<a class='button bg-color-blue fg-color-white' href="{{ path('editPlugin', {'id': plugin.getId()}) }}">
				        {{ "Edit" | trans }}
				    </a>
				    <a class='button bg-color-grayDark fg-color-white' href="{{ path('deletePlugin', {'id': plugin.getId()}) }}" onclick='javascript: return false;'>
				        {{ "Delete" | trans }}
				    </a>
				</div>
			{% endfor %}
		{% else %}
			<small style='margin-left: 10px;'>{{ "No plugin found ..." | trans }}</small>
		{% endif %}
		<div style='clear: both'></div>
	{% endif %}
	<div style='border-bottom: 1px dashed #ccc;'>
		<h3>{{ "Users" | trans }}</h3>
	</div>
	{% for user in users %}
		<div style='border: 1px solid #ccc; float: left; padding: 5px; margin: 10px; text-align: left;'>
			<h2>{{user.getEmail()}}</h2>
			<a class='button bg-color-blue fg-color-white' href="{{ path('editUser', {'id': user.getId()}) }}">
		        {{ "Edit" | trans }}
		    </a>
		    <a class='button bg-color-grayDark fg-color-white' onclick='return false;' href="{{ path('deleteUser', {'id': user.getId()}) }}">
		        {{ "Delete" | trans }}
		    </a>
		</div>
	{% endfor %}
	<script src="{{ asset('scripts/show-user.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.button.bg-color-grayDark.fg-color-white').click(function(){
			url=$(this).attr('href');
			$.Dialog({
			    'title'      : '<span style="color: #fff">{{ "Do you really want to delete" | trans }} '+$(this).parent().find('h2').text()+'?</span>',
			    'content'    : '<small>{{ "Once deleted, you cannot get it back ..." | trans }}</small>',
			    'buttons'    : {
			        '{{ "Cancel" | trans }}'    : {
			            'action': function(){return false;}
			        },
			        '{{ "Delete" | trans }}'     : {
			            'action': function(){document.location.href=url;}
			        }
			    }
			});
		});
	});
	</script>
</section>
{% endblock %}
