{% extends '::base.html.twig' %}
{% block body %}

{% stylesheets '@ExtranetTTOMBackOfficeMarchandBundle/Resources/public/css/TTOMBOMarchand-index.css' %}
<link href="{{ asset_url }}"></link>
{% endstylesheets %}

<div class="toolbar-vertical">
	<div class="toolbar-group">
	    <a href="{{path('dashboard')}}" ><i class='icon-home'></i></a>
	    <a href="{{ path('editUser', {'id': self.getId()}) }}" ><i class='icon-user'></i></a>
	    <a href="{{path('logout')}}" ><i class='icon-exit'></i></a>
	</div>
	<div class="toolbar-group">
	    <a href="{{path('TTOMMarchand')}}" ><i class='icon-arrow-left'></i></a>
	</div>
</div>
<section id="main-frame" class='tiles clearfix'>
	<div style='border-bottom: 1px dashed #ccc;'>
		<h3>Users</h3>
		<button class="command-button" disabled="true">Delete the selected users<small>Users can be selected by clicking on it, and same for unselecting them.</small></button>
		<div style='float: right; text-align: center; width: 500px;'>
			<h4>Front office status</h4>
			<form name='statusShop' id='statusShopID' action='{{ path("desactivateShop", {id: shop.getId()}) }}' method='POST'>
				<label class="input-control switch">
			        {% if shop.getFront().state %}
			        	<input type="checkbox" name='front-office-status' id='front-office-status' value='activated' checked="" />
			        	<span class="helper">On</span
			        {% else %}
			        	<input type="checkbox" name='front-office-status' id='front-office-status' value='activated' />
			        	<span class="helper">Off</span
			        {% endif %}
		    	</label>
		    	<div class='explain-us' style='width: 480px; display: none; position: absolute; z-index: 10000; left: -200px; top: 20px;'>
			        <strong>Explain us why you want to turn off your front office</strong>
		        	<textarea style='width: 400px; height: 150px;' name='explain-us'></textarea>
			        <br /><br />
			        <input type='submit' value='{{ "Send" | trans }}' />
		    	</div>
	    	</form>
    	</div>
	</div>
	<br />
	{% if shop|length %}
		<div class="tile double outline-color-white" style='height: 310px;'>
            <div class="tile-content bg-color-blue" style='text-align: center; padding-top: 8px;'>
            	<h2>Edit shop</h2>
            	<br />
            	<form name="editShop" method="POST" action="{{ path('addShop') }}" enctype='multipart/form-data'>
            	<div class="input-control text">
                	<input type='hidden' name='id' value='{{ shop.getId() }}' />
                	<div class="input-control text">
                		<input style='color: #000;' type="text" name="name" value="{{ shop.getName() }}" placeholder='{{ "Name" | trans }}' required />
                	</div>
                	<div style='height: 75px;'>
                		<img src='{{path("displayImage", {"id": shop.getImage().getId()})}}' style='max-width: 250px; max-height: 70px;' />
                	</div>
                	<fieldset>
			       		<legend>{{ "Thumbnail" | trans }}</legend>
			        	<input type='file' name='image' placeholder='{{ "Thumbnail" | trans }}' />
		            </fieldset>
            	</div>
            	<div id='json-state' style='height: 25px;'></div>
            	<input type='submit' value='{{ "Send" | trans }}' />
            	</form>
            </div>
        </div>
		<div class="tile double outline-color-white">
            <div class="tile-content bg-color-purple" style='text-align: center; padding-top: 8px;'>
            	<h2>Add a user</h2>
            	<br />
            	<form onSubmit='return false;' id='addUserToShop' name="addUserToShop" method="POST" action="{{ path('addUserToShop', {id: shop.getId()}) }}">
            	<div class="input-control text">
                	<input style='color: #000;' type="text" id='emailAddUser' name="email" value="" placeholder='{{ "Email" | trans }}' required />
            	</div>
            	<div id='json-state' style='height: 25px;'></div>
            	<input type='submit' value='{{ "Send" | trans }}' />
            	</form>
            </div>
        </div>
        {% for user in shop.getUsers() %}
        	<div class="tile double outline-color-white selectable">
            	<div class="tile-content bg-color-green" style='text-align: center; padding-top: 8px;'>
        			<h2>{{user.getEmail()}}</h2>
        			<input type='hidden' class='hidden-id' value='{{user.getId()}}' />
        		</div>
        	</div>
        {% endfor %}
	{% else %}
		<small style='margin-left: 10px;'>{{ "No shops found..." | trans }}</small>
	{% endif %}
	<div style='clear: both'></div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	$('#addUserToShop').submit(function(){
		$('#json-state').html('<img width="20" src="{{ asset("images/preloader-w8-cycle-white.gif") }}" />');
		$.ajax({
			url: '{{ path("addUserToShop", {id: shop.getId()}) }}',
			data: 'email='+$('#emailAddUser').attr('value'),
			dataType: 'json',
			type: 'POST',
			success: function(data){
				if (data.responseCode == 200){
					$('#json-state').html('<i class="icon-checkmark forground-color-white"></i> User found, reloading...');
					document.location.reload();
				}else
					$('#json-state').html('<i class="icon-cancel forground-color-white"></i> User not found!');
			},
			error: function(error){
				alert('error');
			}
		})
	});

	$('#front-office-status').change(function(){
		if (!this.checked){
			$(this).parent().find('.explain-us').fadeIn('fast');
			$(this).next().text('Off');	
			$(this).attr('disabled', '');
		}else{
			$(this).next().html('<img height="15" src="{{ asset("images/preloader-w8-cycle-black.gif") }}" />');	
			$.ajax({
				url: '{{ path("desactivateShop", {id: shop.getId()}) }}',
				data: $('#statusShopID').serialize(),
				dataType: 'json',
				type: 'POST',
				success: function(data){
					$('#front-office-status').next().text('On');
				}, error: function(error){
					$('#front-office-status').next().html('<i class="icon-cancel forground-color-black"></i>');
				}
			})
		}
	});

	$('.command-button').click(function(){
		$('.tile.double.outline-color-white.selectable.selected').find('h2').append('<div class="delete-status" style="padding-top: 10px;"><img width="28" src="{{ asset("images/preloader-w8-cycle-white.gif") }}" /><br /><small>Delete...</small></div>');

		$.ajax({
			url: '{{ path("deleteUserToShop", {id: shop.getId()}) }}',
			data: 'ids='+JSON.stringify(toDelete),
			dataType: 'json',
			type: 'POST',
			success: function(data){
				if (data.responseCode == 200){
					$('.tile.double.outline-color-white.selectable.selected').fadeOut('fast');
					toDelete=new Array();
					$('.command-button').attr('disabled', '');
				}else
					$('.tile.double.outline-color-white.selectable.selected').find('.delete-status').html('<small><i class="icon-cancel forground-color-white"></i> An error occured!</small>');
			},
			error: function(error){
				alert('error');
			}
		})
	})
});
</script>

<script src="{{ asset('../src/Extranet/TTOMBackOfficeMarchandBundle/Resources/public/js/TTOMBOMarchand-index.js') }}" type="text/javascript"></script>
<!-- {% javascripts '@ExtranetTTOMBackOfficeMarchandBundle/Resources/public/js/TTOMBOMarchand-index.js' %}
	<link href="{{ asset_url }}"></link>
{% endjavascripts %} -->

{% endblock %}