.tile{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.shop-edit-frame{
	border: 1px solid #000;
	width: 300px;
	float: left;
}

.user-display-frame{
	border: 1px solid #000;	
	float: left;
}